<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="descripcion" content="Login de la página web de SoroHub">
    <meta name="author" content="Erlaitz Alonso, Eneko Martín, Arkaitz Jimenez">
    <!-- apartado CSS -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/login.css">
    <!-- apartado favicon -->
    <link rel="icon" href="images/logo_SoroHub.png">
    <!-- título -->
    <title>Login | SoroHub</title>

</head>
<body>
    
</body>
</html>